<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout :: head (pageTitle = 'Course Ideas')"></head>
<body>
<header th:replace="fragments/layout :: header"></header>
<div class="container mt-3">
    <h1>Course Ideas</h1>
    <ul>
        <li th:each="idea : ${ideas}">
            <form th:action="@{../ideas/__${idea.slug}__/vote}" method="post">
                <p th:text="|${idea.title} (${idea.voteCount} votes)|"></p>
                <button class="btn btn-primary">Vote</button>
            </form>
        </li>
    </ul>
    <form action="/ideas" method="post">
        <input type="text" placeholder="What's your idea?" name="title">
        <button class="btn btn-primary" type="submit">Suggest!</button>
    </form>
</div>
<div th:replace="fragments/layout :: js_scripts"></div>
</body>
</html>