<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/layout :: head (pageTitle = 'Welcome Page')"></head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        <div class="container mt-3">
            <h1 th:if="${username}" th:text="|Welcome ${username}!|"></h1>
            <div th:unless="${username}" th:remove="tag">
                <h1>Welcome Students</h1>
                <!-- TODO:csd - add sign in-->
                <form action="/" method="post">
                    <input type="text" placeholder="What's your name?" name="username">
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
        <div th:replace="fragments/layout :: js_scripts"></div>
    </body>
</html>